.App {
  text-align: center;
}

.dialogContent {
    width: 509.03px;
    height: 453.26px;
    background: #F9F9F9;
}

.textBox {
    background: #FFFFFF;
    border: solid 1px #DBDBDB;
    padding: 3px;
    width: 397.5px;
    height: 397.5px;
    color: black;
    font-size: 19px;
}