.dashboardKPIS {
    display: block;
}

.dashboardKPIS > li {
    display: inline-block;
    width: 100px;
    height: 134px;
    background: #FFFFFF;
    margin-right: 20px;
    padding-top: 45px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.dashboardKPIS > li > h2 {
    color: #005792;
    margin-bottom: 10px;
}

.dashboardKPIS > li > hr {
    border: 2px solid #005792;
    margin-bottom: 15px;
}