.dashboardContent {
    width: 100%;
    background: #ECECEC;
    height: 100%;
    display: flex;
}

.pageContent {
    width: 87%;
    display: block;
    margin-left: 37px;
    margin-top: 35px;
}

.pageContent > .pageTitle {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #005792;
    display: block;
    margin-bottom: 20px;
}

.pageContent > .currentPage {
    margin-bottom: 50px;

}
