.dialogHeader {
    background-color: #0799D4;
    width: 509.03px;
    height: 167.29px;
}

.dialogHeader img {
    position: absolute;
    width: 134.07px;
    height: 43.48px;
    top: 43.48px;
    left: 43.48px;
}