.dialogContent > form {
    padding-top: 86px;
    padding-left: 55px;
    padding-right: 55px;
    text-align: center;
}

.dialogContent > form > fieldset > * {
    margin-bottom: 43px;
}

fieldset {
    margin-bottom: 20px;
}

fieldset > * {
    margin-bottom: 20px;
}

fieldset.inputes {
    border-bottom: 1px solid black;
}

.inputes > input {
    margin-bottom: 29px !important;
}